.App {
  text-align: center;
  border: 25px solid steelblue;
  padding: 30px;
  color: black;
  font-style: initial;
  font-family: cursive;
  background: lightyellow;
  
}

.beast {
  border: 4px solid steelblue;
  margin: 20px;
  border-radius: 12px;
  background: lightblue;
  text-align: center;
}

.beastImg {
  border: 2px 2px solid black;
  border-radius: 12px;
}
.beastDescription {
  margin-top: 20px;
}

 /* h1 {
  text-shadow: 3px 3px lightblue;
  font-size: 55px;
   margin-bottom: 5px; 
  padding-bottom: 5px;
} 

  */
  
.form {
  border: 3px solid blue;
  /* font-style: initial;
  font-family: cursive; */
}
